.DS_Store
.idea/
# Ignore compiled binaries
*.exe
*.o
*.so
*.exe
*.pdb
*.bin

# Ignore log files
*.log

# Ignore package files
*.jar
*.war
*.ear

# Ignore dependency directories
/node_modules
/vendor
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/Projeto2AED.dir/test.cpp.obj
cmake-build-debug/CMakeFiles/Projeto2AED.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3cb7ac949bd4d029da2a.json
cmake-build-debug/.cmake/api/v1/reply/target-Projeto2AED-Debug-29faaf0ef4c94544afa8.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-7dd21592035de3d9ae42.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-1766085b76556d21fc6a.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-e15d77ab021c5f8b00e4.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-ffd0d02c0ead23047c7c.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-12-30T11-43-53-0705.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest.googletest-Debug-89206eb3c379179194b3.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest.googlemock-Debug-863075d8d8657661ab35.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest-Debug-294c64d4885f2a55f3f7.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8f47f018e9dd0bad0367.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6b2ef3386226d555df8f.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-87d20e660d4f6745593b.json
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/Projeto2AED.dir/test.cpp.obj
cmake-build-debug/CMakeFiles/Projeto2AED.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3cb7ac949bd4d029da2a.json
cmake-build-debug/.cmake/api/v1/reply/target-Projeto2AED-Debug-29faaf0ef4c94544afa8.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-7dd21592035de3d9ae42.json
cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-1766085b76556d21fc6a.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-e15d77ab021c5f8b00e4.json
cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-ffd0d02c0ead23047c7c.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-12-30T11-43-53-0705.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest.googletest-Debug-89206eb3c379179194b3.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest.googlemock-Debug-863075d8d8657661ab35.json
cmake-build-debug/.cmake/api/v1/reply/directory-googletest-Debug-294c64d4885f2a55f3f7.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8f47f018e9dd0bad0367.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6b2ef3386226d555df8f.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-87d20e660d4f6745593b.json
*.cmake
*.yaml
*.obj
